@media only screen and (max-width : 1200px) {
	header, section, footer {
		width: 970px;
	}
	header .img-wrap {
		width: 370px;
	}
	header .img-wrap img {
		margin-top: 90px;
	}
	header .header-text h1 {
		font-size: 50px;
	}
	header .header-text span {
		margin-top: 35px;
		font-size: 25px;
	}
	header .header-button a {
		padding: 12px 50px;
	}
	.content-wrap {
		margin: 70px 55px;
	}
	.info-text h1 {
		font-size: 36px;
	}
	.info-text p {
		margin-top: 25px;
	}
	.video-wrap {
		width: 430px;
		margin-top: 75px;
	}
	.talks-people, .speakers-people {
		margin-top: 130px;
	}
	.title-people h1 {
		margin: 0 0 25px 55px;
	}
	.talks-item .people-img {
		width: 400px;
		height: 400px;
	}
	.talks-item .people-img img {
		width: 400px;
	}
	.talks-item .people-text h1 {
		font-size: 32px;
		margin-top: 15px;
	}
	.talks-item .people-text span {
		font-size: 27px;
	}
	.talks-item .people-text p {
		margin-top: 35px;
	}
	.talks-item .people-text {
		margin-right: 55px;
	}
	.talks-item .people-text.left {
		margin-left: 55px;
	}
	.items-people {
		margin: 0 55px;
	}
	.item {
		width: 270px;
		margin-bottom: 45px;
	}
	.item .item-img {
		height: 270px;
	}
	.item h3 {
		margin-top: 20px;
	}
	.item span {
		margin-top: 5px;
	}
	footer .bottom {
		padding: 45px 55px 25px;
	}
}

@media only screen and (max-width : 992px) {
	header, section, footer {
		width: 750px;
	}
	header {
		padding-bottom: 60px;
	}
	header .img-wrap {
		width: 340px;
	}
	header .img-wrap img {
		margin-top: 70px;
	}
	header .header-text h1 {
		font-size: 42px;
		margin-top: 45px;
	}
	header .header-text span {
		font-size: 22px;
		margin-top: 28px;
	}
	header .header-button {
		margin-top: 50px;
	}
	header .header-button a {
		padding: 12px 45px;
		font-size: 18px;
	}
	.content-wrap {
		margin: 60px 35px;
	}
	.info-text {
		width: 100%;
		float: none;
	}
	.info-text p {
		margin-top: 20px;
		margin-right: 0;
	}
	.video-wrap {
		width: 500px;
		margin: 60px auto;
		float: none;
	}
	.talks-people, .speakers-people {
		margin-top: 50px;
	}
	.title-people h1 {
		margin: 0 0 20px 35px;
		font-size: 35px;
	}
	.talks-item .people-img {
		width: 300px;
		height: 300px;
	}
	.talks-item .people-img img {
		width: 300px;
	}
	.talks-item .people-text {
		margin-right: 35px;
	}
	.talks-item .people-text.left {
		margin-left: 35px;
	}
	.talks-item .people-text span {
		font-size: 25px;
	}
	.talks-item .people-text p {
		margin-top: 25px;
		line-height: 24px;
	}
	.talks-item .people-text h1 {
		font-size: 30px;
		margin-top: 10px;
	}
	.items-people {
		margin: 0 35px;
		justify-content: space-around;
	}
	footer .bottom {
		padding: 40px 35px 20px;
	}
}

@media only screen and (max-width : 768px) {
	header, section, footer {
		width: 95%;
	}
	header {
		padding: 0 10px 40px;
	}
	header .img-wrap {
		width: 300px;
	}
	header .img-wrap img {
		margin-top: 50px;
	}
	header .header-text h1 {
		font-size: 38px;
		margin-top: 40px;
	}
	header .header-text span {
		margin-top: 22px;
	}
	header .header-button {
		margin-top: 40px;
	}
	.content-wrap {
		margin: 40px 15px;
	}
	.info-text h1 {
		font-size: 34px;
	}
	.info-text p {
		margin-top: 15px;
		line-height: 24px;
		font-size: 17px;
	}
	.video-wrap {
		width: 400px;
		margin-top: 40px;
		margin-bottom: 0;
	}
	.title-people h1 {
		margin: 0 0 15px 15px;
		font-size: 32px;
	}
	.talks-item {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.talks-item .people-text p {
		margin-top: 20px;
	}
	.talks-item .people-img {
		width: 270px;
		height: 270px;
	}
	.talks-item .people-img img {
		width: 270px;
	}
	.talks-item .people-text, .talks-item .people-text.left {
		margin: 20px;
		order: 1;
	}
	.items-people {
		margin: 0 15px;
	}
	.item {
		margin: 0 5px 40px;
	}
	.talks-item {
		margin-bottom: 20px;
	}
	.talks-item:last-child {
		margin-bottom: 0;
	}
	footer .item-bot {
		width: 40%;
		margin-bottom: 15px;
		text-align: center;
	}
	footer .bottom {
		padding: 40px 15px 0;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	footer .item-bot h1 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	footer .item-bot ul li a, footer .item-bot p, footer .item-bot span {
		font-size: 16px;
	}
	footer .item-bot .soc ul li a {
		margin: 0 10px;
	}
}

@media only screen and (max-width : 480px) {
	header, section, footer {
		width: auto;
	}
	header {
		padding-bottom: 30px;
	}
	header .img-wrap {
		width: 260px;
	}
	header .img-wrap img {
		margin-top: 40px;
	}
	header .header-text h1 {
		font-size: 27px;
		margin-top: 30px;
	}
	header .header-button {
		margin-top: 30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
	}
	header .header-button a {
		padding: 8px 12px;
		font-size: 17px;
		/*border-radius: 5px;*/
	}
	header .header-text span {
		font-size: 20px;
		margin-top: 20px;
	}
	.info-text h1 {
		font-size: 29px;
	}
	.content-wrap {
		margin: 30px 15px;
	}
	.video-wrap {
		width: 290px;
		margin-top: 30px;
	}
	.talks-item .people-text, .talks-item .people-text.left {
		margin: 15px;
	}
	.talks-item .people-text span {
		font-size: 22px;
	}
	.talks-item .people-text h1 {
		font-size: 25px;
	}
	.talks-item .people-text p {
		font-size: 17px;
	}
	.title-people h1 {
		font-size: 29px;
	}
	.item {
		width: 250px;
	}
	.item .item-img {
		height: 250px;
	}
	footer .bottom {
		padding-top: 30px;
		padding-bottom: 10px;
	}
	footer .item-bot {
		width: 80%;
		margin-top: 10px;
		border-bottom: 2px solid #999;
	}
	footer .item-bot:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}
	footer .item-bot p, footer .item-bot span {
		margin-top: 10px;
	}
	footer .item-bot p, footer .item-bot span {
		margin-bottom: 12px;
	}
}